/* This page has all the formatting for the webpage; this page is responsible for many of the colors,
text alignment changes, font size changes, etc. in the program (the rest is done with built - in styling.)
CSS is used because of its user - friendliness.*/

.aboutus {
    text-align: left;
    font-size: 1.5em;
}


h1.explantions {
    text-align: left;
    font-size: 3em;
}

h1.prompt {
    text-align: center;
}


form {
    text-align: center;
    font-size: 1.5em;
}

p {
    text-align: center;
    font-size: 1em;
}

h3 {
    font-size: 5em;
}

table tr:nth-child(even) {
    background-color: #cba079;
}

table tr:nth-child(odd) {
    background-color: #dbc099;
}

table td, table th {
    border: 1px solid black;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
    border-left: 0;
}

table tr td:last-child, table tr th:last-child {
    border-right: 0;
}

table, th {
    background-color: #4CAF50;
    color: rgb(23,15,20);
    text-align: center;
    font-size: 1.3em;
    padding: 4px;
}

title {
    font-family: bold;
    font-size: 5em;
}

body {
 background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
    
}

#output {
    text-align: center;
    border-collapse: collapse;
    border: 8px solid black;
}
