{% extends "totb.html" %}

{% block title %}
About Us
{% endblock %}

{% block navbar %}
{% endblock %}

{% block stuffa %}
<div class="aboutus">
<h1> Our mission </h1>
<p> Our mission is to provide a user - friendly way to help people to learn English by helping learners to understanding Parts of Speech. </p>
<h1> About us </h1>
<p> We are a high school CodeTN team. This is our first year doing this event, and we hope to do it next year. </p>
<p> Nathan and Jacob are sophomores, brothers and our oldest members. They have been since they were eight years old. </p>
<p> Ethan and Andrew are also brothers. Ethan is a sophomore and Andrew a freshman. They have been coding for a couple of years, and are eager to learn more about the wonders of code. </p>
<p> Steven is also a sophomore, and has been coding for a while as well, in a variety of languages. </p>
<p> Erik Ferragut is our TechPro, and has spent a lot of time helping to teach us how to code. Without him this project would have not been possible. </p>
</div>
{% endblock %}