<link rel="stylesheet" type="text/css" href='/lang/app/templates/design.css' />
<script src='/lang/app/templates/test.js'></script>
<style>
table, th, td {
    border: .0625em solid black;
}
</style>
<body>
<h1>Enter Sentence:</h1>

<form method="POST" action="/">
    {{ form.hidden_tag() }}
    <div style = "text-align:center";> {{ form.sentence.label }} : {{ form.sentence() }} </div>
    <div style = "text-align:center";> {{ form.submit.label }} : {{ form.submit() }} </div>
</form>

<!--<p style = "text-align:center";>{{ data }}</p>-->
<!-- style="border:.0625em solid black;" -->

<table align = "center"  >
<tr>
    <th>Word</th>
    <th>Part of Speech</th>
    <th>Modifying</th>
    <th>Modifier</th>
</tr>
{% for item in data %}
  <tr>
    {% for stuff in item %}
      <td>{{ stuff }}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
</body>
<a href="bootstrap.html">about</a>