.h1 {
    text-align: center;
    font-size: 2em;
    background-color: green;
}

form {
    text-align: center;
    font-size: 1.5em;
}

p {
    text-align: center;
    font-size: 1.0em;
}

body {
    background-color: green;
    background-image: url("http://images.clipartpanda.com/book-20clipart-KTn8jp8Tq.jpeg");
    background-position: right top;
    
    
}
