{% extends "totb.html" %}
<!-- This page is used as a reference for people who may be unsure on what each Part of Speech is. However, we didn't 
want to overwhelm users with too much information on the subject, so we added a link in case anyone wanted to do 
further research on the subject.-->
{% block title %}
<title> Parts of Speech</title>
{% endblock %}

{% block logo %} {% endblock %}

{% block navbar %}
{% endblock %}

{% block stuffa %}

<div class = "aboutus">
  <div class= "col-12">
  <h1> Parts of Speech: </h1>
  <h3>In the English language, there are eight major types of words. They are:</h3>
  <ol>
    <li>Noun: Nouns are a person, place, thing, or idea. If the noun refers to a specific thing, then it is called a proper noun. <br> Ex. happiness, Jack, lunchbox, California</li>
    <li>Verb: Verbs show an action done by the subject of a sentence or the state of being of the subject of the sentence.  <br> Ex. am, is, run, talk, read </li>
    <li>Pronoun: Pronouns are words that take the place of nouns. <br> Ex. I, she, him, they</li>
    <li>Adjective: Adjectives are words that describe nouns or pronouns. <br> Ex. red, big, happy, forty-two</li>
    <li>Adverb: Adverb are words that describe verbs. Adverbs can describe the where, when, how, or degree of a verb.<br> Ex. slowly, well, cheerfully, very</li>
    <li>Preposition: Prepositions are words that specify the setting of something. <br> Ex. of, before, during, below</li>
    <li>Conjuction: Conjuctions are words that join phrases together. There are only seven conjuctions: for, and, not, but, or, yet, and so.</li>
    <li>Interjection: Interjections are words that show an emotion. They are usually followed by an exclamation point. <br> Ex. Ouch!, Eek!, Hi!, Wahoo! </li>
    
  </ol>
  <p> </p>
  <p> </p>
  <p> </p>
  <h3> For more information on Parts of Speech, <a href = http://partofspeech.org/> Click here </a></h3>
  <h1>Modifier and Modifying:</h1>
  <ol>
    <li>"Modifier" is our informal name of a "dependency".</li>
    <li>Dependencies are how words relate, or are dependent, on each other.</li>
    <li>"Modifying" is our informal name of a "head".</li>
    <li>Heads are the most important word in a phrase.</li>
  </ol>
  
  
</div>
</div>

{% endblock %}

