{% extends "totb.html" %} <!-- This line of code says that this page inherits from the base template, totb.html. --> 


{% block title %} 
<title>Part of Speech Finder</title>
{% endblock %}





{% block stuffa %}
<div class = "background">

<div class = "col-12">
  <div class="alert alert-warning" role="alert">
  <h1 class = "prompt">Enter a sentence to learn about its structure!</h1>
  </div>
</div>

<div class="row">
<div class="col-12">

<form method="POST" action="/" style= "height:20em ">
    {{ form.hidden_tag() }}
    <div class="mainform" style= "text-align: center"> {{ form.sentence(cols="120") }} {{ form.submit() }}</div>
</form>

</div>
</div>

{% if data %}
<div class="row">
<p> </p>
<p></p>
<table id= "output" align= "center" "table-bordered">
<tr>
    <th>Word</th>
    <th>Part of Speech</th>
    <th>Modifying</th>
    <th>Modifier</th>
    <th>Explained Parts of speech</th>
</tr>
{% endif %}
{% for item in data %}
  <tr>
    {% for stuff in item %}
      <td>{{ stuff }}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}

